<div class="row">
    <div class="panel panel-default">
        <div class="panel panel-heading" style="font-size: large">
            {{vm.titulo}}
        </div>
        <div class="panel-body">
            <div>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li ui-sref-active="active"><a ui-sref=".info" >Informacion</a></li>
                    <li ui-sref-active="active"><a ui-sref=".tags" >Administracion de Tags</a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" ui-view></div>
                </div>
            </div>
        </div>
    </div>
</div>
