<legend>Busqueda de Tags</legend>
<div class="form-group">
    <label for="inputTagsShounen" class="col-sm-2 control-label">Tags</label>
    <div class="col-md-8">
        <input type="text" class="form-control" id="inputTagsShounen" placeholder="Ingrese los Tags de busqueda separados por coma para los animes" ng-model="vm.shounenTags">
    </div>


    <div class="col-md-1">
        <button class="btn btn-default" ng-click="vm.addTags(vm.shounenTags)">Agregar</button>
    </div>
    <div class="col-md-8 col-md-offset-2">
        <span ng-repeat="tag in vm.shounenItem.tags | orderBy">
            		<button class="btn btn-default" style="font-size: smaller; margin-right: 8px;margin-top: 7px" ng-click="vm.removeTag($index)"> {{tag}} <i class="glyphicon glyphicon-remove"></i> </button>
            </span>
    </div>
</div>

<div class="form-group" >
    <div class="col-sm-offset-2 col-sm-10">
        <span><button class="btn btn-primary" ng-click="vm.guardar()" style="margin-top: 30px">Guardar</button></span>
        <span><button class="btn btn-default" style="margin-left: 20px;margin-top: 30px" ng-click="vm.cancelar()">Cancelar</button></span>
    </div>
</div>
