<br>
<form class="form-horizontal" name="shounenForm">
    <fieldset>
        <legend>Detalle de Anime</legend>
        <div class="form-group">
            <label for="inputTituloShounen" class="col-sm-2 control-label">Titulo</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputTituloShounen" placeholder="Titulo del anime" ng-model="vm.shounenItem.tituloShounen">
            </div>
        </div>
        <div class="form-group">
            <label for="inputCodigoShounen" class="col-sm-2 control-label">Codigo</label>
            <div class="col-sm-6 col-md-3">
                <input type="text" class="form-control" id="inputCodigoShounen" ui-mask="AAA-9999" ng-model="vm.shounenItem.codigoShounen">
            </div>
        </div>
        <div class="form-group">
            <label for="inputFechaShounen" class="col-sm-2 control-label">Fecha de Publicacion</label>
            <div class="col-sm-6 col-md-3">
                <div class="input-group">
                <input type="text" class="form-control" id="inputFechaShounen" uib-datepicker-popup="MMM dd,yyyy" is-open="vm.opened" ng-model="vm.shounenItem.fechaPublicacion">
                    <span class="input-group-btn">
        <button class="btn btn-default" ng-click="vm.showDatepicker($event)"> <i class="glyphicon glyphicon-calendar"></i> </button>
      </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="inputDescripcionShounen" class="col-sm-2 control-label">Descripcion</label>
            <div class="col-sm-10">
                <textarea rows="8" class="form-control" id="inputDescripcionShounen" placeholder="Descripcion del anime" ng-model="vm.shounenItem.descripcionShounen"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="inputBannerShounen" class="col-sm-2 control-label">Banner</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputBannerShounen" placeholder="Banner para el anime" ng-model="vm.shounenItem.banner">
                <br>
                <img class="img_banner" src="{{vm.shounenItem.banner}}">
            </div>
        </div>
        <div class="form-group">
            <label for="inputDestacadoShounen" class="col-sm-2 control-label">Destacado</label>
            <div class="col-sm-10">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="inputDestacadoShounen" ng-model="vm.shounenItem.destacado">
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <span><button class="btn btn-primary" ng-click="vm.guardar()">Guardar</button></span>
                <span><button class="btn btn-default" style="margin-left: 20px" ng-click="vm.cancelar()">Cancelar</button></span>
            </div>
        </div>
    </fieldset>
</form>
