<div class="row center" ng-controller="CategoriesCtrl as cc">
    <button ng-click="cc.toggleCategories()" class="btn btn-default" style="margin-bottom: 10px"> {{ cc.showCategories? "Ocultar" : "Mostrar" }} Categorias</button>
    </br>
    <div ng-show="cc.showCategories" class="btn-group" data-toggle="buttons">
        <label class="btn btn-primary " ng-repeat="cate in cc.categories" ng-click="vm.onCategoryClick(cate)">
            <input type="radio" name="options" id=" {{cate}} " autocomplete="off"> {{cate}}
        </label>
        <label class="btn btn-primary" ng-click="vm.onCategoryClick()">
            <input type="radio" name="options" id="MostrarTodos" autocomplete="off"> Mostrar Todos
        </label>
    </div>
</div>
<div class="row">
    <div class="row">
        <fieldset>
            <legend class="titulo">Destacado</legend>
        </fieldset>
        <div class="row">
            <div class="col.col-md-12">
                <div class="col-sm-6 col-md-4" ng-repeat="shounenItem in vm.shounen | filter: {Categoria: vm.filterCategory} | filter:{destacado:true} | orderBy: '-fechaPublicacion' ">
                    <div class="thumbnail">
                        <img ng-src=" {{shounenItem.banner}} " class="banner">
                        <div class="caption">
                            <span class="fecha"> {{shounenItem.fechaPublicacion | date }} </span>
                            <h3> {{shounenItem.tituloShounen}} </h3>
                            <p> {{shounenItem.descripcionShounen.substring(0,200)+ "..."}} </p>
                            <p><a ui-sref="shounenDetail({idShounen: shounenItem.idShounen})" class="btn btn-primary" role="button">Leer mas</a>
                                <a ui-sref="shounenEdit.info({idShounen: shounenItem.idShounen})" class="btn btn-default" role="button">Editar</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12" ng-show="(vm.shounen| filter: {Categoria: vm.filterCategory} | filter:{destacado:true}).length == 0">
                    <p>No hay series destacadas que mostrar.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <fieldset>
                <legend class="titulo">ultimas Noticias</legend>
            </fieldset>
            <!-- <div class="col.col-md-12"> -->
            <div class="col-sm-4 col-md-2" ng-repeat="shounenItem in vm.shounen |filter: {Categoria: vm.filterCategory} | filter:{destacado:false} | orderBy: '-fechaPublicacion' ">
                <div class="thumbnail">
                    <img ng-src=" {{shounenItem.banner}} " class="banner-small">
                    <span class="fecha"> {{shounenItem.fechaPublicacion | date }} </span>
                    <div class="caption">
                        <h5> {{shounenItem.tituloShounen}} </h5>
                        <!-- <p> {{shounenItem.descripcionShounen}} </p> -->
                        <p><a ui-sref="shounenDetail({idShounen: shounenItem.idShounen})" class="btn btn-primary btn-xs" role="button">Leer mas</a>
                            <a ui-sref="shounenEdit.info({idShounen: shounenItem.idShounen})" class="btn btn-default btn-xs" role="button">Editar</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-12" ng-show="(vm.shounen| filter: {Categoria: vm.filterCategory} | filter:{destacado:false}).length == 0">
                <p>No hay series que mostrar.</p>
            </div>
        </div>
    </div>
</div>
