<div class="row center">
    <img src="img/1200px-Weekly_Shonen_Jump_logo.svg.png" style="height: 300px" />
    <div class="jumbotron">
        <h1 class="display-3">Shounen Flv</h1>
        <p>Es la categoría del manga y anime dirigida especialmente a varones de joven edad.</p>
        <p>Los anime y manga shōnen típicamente se caracterizan por ser series con grandes dosis de acción,1 a menudo situaciones humorísticas con protagonistas masculinos. El compañerismo entre adolescentes o adultos de un equipo de combate (o algo así) también suele subrayarse en un shōnen. También suele haber personajes atractivos femeninos (como en el bishōjo o fanservice), cabe destacar que no siempre. El arte de estilo de shōnen en general es menos florido que el de shōjo, aunque esto varía mucho entre los mangakas. Shōnen no es un género específico de manga, sino el término demográfico que se usa para referirse al manga y anime dirigido especialmente a hombres jóvenes.</p>
        <p>Más allá del shōnen, está el término usado para los hombres adultos, el seinen.</p>
        <p>Algunas series Shōnen mas conocidas son: Inuyasha, Attack on Titan, Ranma ½, Trigun, Fairy Tail, Gunslinger Girl, The Qwaser of Stigmata, WataMote, Nisekoi, Strawberry Marshmallow, Soul Eater y JoJo's Bizarre Adventure.</p>
        <footer class="panel-footer">
        	Creado por Alvaro Huanca Perez <br/>
        	alvarohp.ac@gmail.com <br/>
        </footer>
        
    </div>
</div>
